* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #7d7f84;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-start{
  justify-content: flex-start;
}


.flex-centered {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-between {
  justify-content: space-between;
}

.container {
  width: 100%;
  height: calc(100vh - 100px);
}

h1,
h2,
h3 {
  color: white;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1rem;
}

hr {
  width: 180px;
  margin: 0.5rem 0;
}

p.little {
  text-align: start;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

header.main {
  width: 230px;
  height: 100%;
  background-color: black;
}

main {
  width: calc(100% - 230px);
  background-color: #141922;
  overflow-y: auto;
}

footer {
  height: 100px;
  background-color: #282828;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

header.secondary {
  height: 90px;
  background-color: #080b12;
  text-align: right;
}

button.upgrade {
  border: 1px solid white;
  color: white;
  font-weight: bold;
  background-color: #141922;
  padding: 1rem 1.5rem;
  border-radius: 25px;
  margin-top: 1.3rem;
  margin-right: 1rem;
}

button.upgrade:hover {
  transform: scale(1.1);
}

nav.sec-navbar {
  text-align: center;
  padding-top: 1rem;
}

nav.sec-navbar ul li {
  display: inline;
  list-style: none;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0 1rem;
}

li:hover {
  color: white;
  cursor: pointer;
}

div.discs-firstrow {
  padding: 1rem 3rem;
  text-align: center;
}

div.discs-firstrow h1 {
  padding-bottom: 1rem;
  text-align: start;
}

div.discs-firstrow h2 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  line-height: 100%;
}

div.discs-firstrow p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}

div.disc {
  width: calc(100% / 6);
}

figure {
  position: relative;
  /* width: calc(100% / 6); */
}

figure img {
  width: 100%;
  padding-right: 1rem;
}

.play-button {
  font-size: 3.5rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  display: none;
}

figure:hover .play-button {
  display: inline;
  cursor: pointer;
}

figure:hover {
  filter: grayscale(60%);
  opacity: 0.75;
  cursor: pointer;
}

figure.round img {
  border-radius: 50%;
}

header.main img.logo {
  width: 60%;
  margin: 1rem 0 0 1rem;
}

header.main img.logo-mini {
  width: 60%;
  margin: 1rem 0 0 0.5rem;
  display: none;
}

div.vanish {
  display: none;
}

header.main ul li {
  list-style-type: none;
  margin-left: 2rem;
  font-weight: bold;
  font-size: 0.8rem;
}

header.main ul li:first-child {
  margin-top: 0.5rem;
}

header.main ul li img {
  width: 12%;
}

header.main h3 {
  margin: 1rem 0 0 1rem;
}

header.main ul.playlist i {
  font-size: 3rem;
  vertical-align: middle;
}

header.main ul.playlist li {
  padding: 0.5rem 0;
}

div.down ul li:first-child {
  font-size: 0.9rem;
}

div.down img.download {
  vertical-align: middle;
  font-size: 1rem;
}

div.down img.profile {
  background-color: #808080;
  border-radius: 50%;
  vertical-align: middle;
}

div.down ul li:last-child {
  margin-bottom: 1rem;
}



div.footerleft{
  width: 250px;
}

footer img.img-sinister {
  width: 20%;
  height: 20%;
  display: inline-block;
  margin: 1rem;
}

footer p.sinister {
  font-weight: bold;
  color: white;
  font-size: 0.9rem;
  margin-top: 1.2rem;
}

p.footerlittle {
  font-size: 0.8rem;
  font-weight: normal;
  color: #7d7f84;
}

div.heart-folder {
  margin: 1rem;
}

div.volumebar {
  width: 7vw;
}

div.volumedown {
  height: 4px;
  width: 10%;
  background-color: #7d7f84;
  vertical-align: middle;
}

div.volumeup {
  height: 4px;
  width: 90%;
  background-color: #3d3e41;
  vertical-align: middle;
}

div.footerright {
  margin: 0 1rem;
  color: white;
}

div.footerright i {
  margin: 0 0.5rem;
}

div.player-buttons i {
  margin: 0rem 1rem 1rem 1rem;
  color: white;
  font-size: 0.9;
}

div.player-buttons i:nth-child(3) {
  font-size: 1.7rem;
}

div.play-bar-commands p {
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
}

div.play-bar {
  width: 30vw;
}

div.played-bar {
  height: 4px;
  width: 25%;
  background-color: #7d7f84;
  vertical-align: middle;
  margin-left: 20px;
}

div.to-play-bar {
  height: 4px;
  width: 75%;
  background-color: #3d3e41;
  vertical-align: middle;
  margin-right: 20px;
}

@media screen and (max-width: 992px) {
  div.disc {
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 768px) {
  div.disc {
    width: calc(100% / 2);
  }

  div.heart-folder {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  header.main {
    width: 50px;
  }
  main {
    width: calc(100% - 50px);
  }

  header.main img.logo {
    display: none;
  }

  header.main ul li {
    display: none;
  }

  header.main h3 {
    display: none;
  }

  header.main img.logo-mini {
    display: inline;
    margin-bottom: 1rem;
  }

  div.vanish {
    display: inline-block;
    align-items: center;
  }

  div.vanish img {
    width: 60%;
    margin-left: 0.6rem;
    margin-bottom: 0.7rem;
  }
}
